[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
  keepBackup = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Pat Ostler
	email = ostlerp@gmail.com
[color]
	ui = true
[push]
	default = current
[branch]
	autosetuprebase = always
[rerere]
	enabled = 1
[core]
	editor = nvim
[diff]
	tool = nvim
[merge]
	tool = nvim
[difftool]
	prompt = false
